<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CaseMapper">
    <select id="selectById" resultType="com.example.entity.CaseDO">
        SELECT * FROM t_case WHERE id = #{id}
    </select>

    <select id="selectLeftById" resultType="com.example.entity.CaseDO">
        SELECT * FROM t_case WHERE id &lt; #{id} ORDER BY id DESC  LIMIT 1
    </select>

    <select id="selectRightById" resultType="com.example.entity.CaseDO">
        SELECT * FROM t_case WHERE id &gt; #{id} LIMIT 1
    </select>

    <delete id="delete">
        DELETE FROM t_case WHERE id = #{id}
    </delete>

    <select id="getCount" resultType="Integer">
        SELECT COUNT(1) FROM t_case
    </select>

    <select id="queryByCursor" resultType="com.example.entity.CaseDO">
        SELECT * FROM t_case ORDER BY sort ASC LIMIT #{cursor}, #{size}
    </select>

    <select id="queryByPageAndType" resultType="com.example.entity.CaseDO">
        SELECT * FROM t_case WHERE `type` = #{type} limit #{cursor}, #{size}
    </select>

    <update id="update" parameterType="com.example.entity.CaseDO">
        UPDATE t_case SET title= #{title}, description = #{description}, customer_name= #{customerName},
        service_content = #{serviceContent}, publish_time = #{publishTime}, create_time = #{createTime},
        modify_time = #{modifyTime}, `type` = #{type}, image = #{image}, cover_image = #{coverImage},
         color_model = #{colorModel} WHERE id = #{id}
    </update>

    <insert id="insert" parameterType="com.example.entity.CaseDO"
            keyProperty="id">
		INSERT INTO t_case (title,description,customer_name,service_content,publish_time,
		create_time,modify_time,`type`, image, color_model, cover_image) VALUES (#{title},
		 #{description}, #{customerName}, #{serviceContent}, #{publishTime}, #{createTime},
		  #{modifyTime}, #{type}, #{image}, #{colorModel}, #{coverImage})

	</insert>

</mapper>