<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.NewsMapper">
    <select id="selectById" parameterType="map" resultType="com.example.entity.NewsDO">
        SELECT * FROM t_news WHERE id = #{id}
    </select>

    <select id="selectLeftById" resultType="com.example.entity.NewsDO">
        SELECT * FROM t_news WHERE id &lt; #{id} ORDER BY id DESC  LIMIT 1
    </select>

    <select id="selectRightById" resultType="com.example.entity.NewsDO">
        SELECT * FROM t_news WHERE id &gt; #{id} LIMIT 1
    </select>

    <delete id="delete">
        DELETE FROM t_news WHERE id = #{id}
    </delete>

    <select id="queryByCursor" resultType="com.example.entity.NewsDO">
        SELECT * FROM t_news ORDER BY id DESC  LIMIT #{cursor}, #{size}
    </select>

    <select id="queryByPageAndType" resultType="com.example.entity.NewsDO">
        SELECT * FROM t_news WHERE `type` = #{type} limit #{cursor}, #{size}
    </select>

    <select id="getCount" resultType="Integer">
        SELECT COUNT(1) FROM t_news
    </select>

    <update id="update" parameterType="com.example.entity.NewsDO">
        UPDATE t_news SET title= #{title}, cover_img_url = #{coverImgUrl}, `type`= #{type},
        summary = #{summary}, publish_time = #{publishTime}, create_time = #{createTime},
        modify_time = #{modifyTime}, content = #{content} WHERE id = #{id}
    </update>

    <insert id="insert" parameterType="com.example.entity.NewsDO"
            keyProperty="id">
		INSERT INTO t_news (title,cover_img_url,`type`,summary,publish_time, create_time,modify_time,
		content) VALUES (#{title}, #{coverImgUrl}, #{type}, #{summary}, #{publishTime}, #{createTime},
		#{modifyTime}, #{content})

	</insert>
</mapper>