body{
    font-family: Microsoft Yahei; 
}
.contact_wrap{
    width: 80%;
    margin:100px auto 100px;
}
.left{
    float: left;
    color: #999;
    font-size: 30px;
    font-family: Microsoft Yahei;
}
.right{
    float: right;
    width: 60%;
    color: #5f6061;
    font-size: 16px;
    line-height: 2;
}
.cooperation{
    margin-top: 20px;
    color: #999;
}
.process{
    font-size: 28px;
    color: #db0445;
    margin-top: 30px;
    margin-bottom: 30px;
}
.process_img img{
    width: 100%;
}
.hand{
    width: 80%;
    margin: 0 auto;
}
.hand img{
    width: 100%;
}
.site_and_phone{
    margin-top: 50px;
}
.recrit{
    margin-top: 50px;
}
.mediaMT{
    margin-top: 30px;
}
@media screen and (max-width:750px){
    .contact_wrap{
        width: 94%;
    }
    .left{
        float: none;
        margin-bottom: 15px;
    }
    .right{
        width: 100%;
    }
    .hand{
        width: 100%;
    }
    .mediaMB{
        margin-bottom: 50px;
    }
    .mediaMT{
        margin-top: 0;
    }
}